body{
       margin: 0;
       padding: 0;
       background-color: #000000;     
}
#menu {
       text-align: left;
}
#menu ul {
       display: inline-flex;
       list-style: none;
}
#menu ul li {
       margin: 25px;
       position: relative;
}
#menu ul li a {
       padding:  8px;
       color: yellow;
       font-size: 35px;
       text-decoration: none;
       border-bottom: 3px solid #fff;
       border-radius: 25px;
       position: relative;
}
#search {
       top: 24px;
       right: 20px;
       position: absolute;
       border: 2px solid yellow;

}
#search input {
font-size: 25px;
border: 1px solid #fff;
margin: 8px;
padding: 8px;
border-radius: 10px;
}
#content h2 {
font-size: 60px;
color: #fff;
margin: left;
margin-left: 8%;
margin-top: 4px;
text-align: left;
}
#content b {
       color: yellow;
       font-size: 100px;
}
#content p {
       text-align: left;
       font-size: 20px;
       margin-left: 60px;
       color: #fff;
}
.photo{
       width: 40%;
       float: right;
}
.photo img {
       width: 80%;
       margin-top: -250px;
       margin-left:50px;
       border-radius: 30%;
}
.button {
       position: absolute;
       top: 80%;
       left: 15%;
       transform: translate(-50% , -50%);
}
.btn {
       color: #fff;
       border: 4px solid yellow;
       padding: 12px;
       text-decoration: none;
       border-radius: 30px;
       font-weight: bold;
}
